/* Styling the Landing Page */
.home-image { 
    position: relative; 
    width: 100%; 
    object-fit: cover;
 }
 
 h1 { 
    position: absolute; 
    top: 150px; 
    left: 50; 
    width: 100%; 
    color:#ddd;
 } 

 h3 { 
  position: absolute; 
  top: 220px; 
  left: 50; 
  width: 100%; 
  color:#ddd;
} 

/* Styling Landing Page Button */
.home-image .button {
  position: absolute;
  top: 280px;
  left: 50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.home-image .buttonExplore {
  background-color: #ba813a; 
  color: #f2f2f2; 
  border: 2px solid #ba813a;
}

.home-image .buttonExplore:hover {
  background-color: black;
  color: white;
}

.our-collection {
    text-align: center;
    position: relative; 
    top: 30px; 
    color: black;
    font-size: 35px;
    
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 80 40px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    font-size: 14;
    background-color: #f1f1f1;
  }

  /* Row 2 */
 /* Float four columns side by side */
.column2 {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row2 {margin: -140 40px;}
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column2 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  /* Styling the Buttons */
.button {
    /* position: absolute; */
    top: 280px;
    left: 50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }
  
 .button1 {
    background-color: #ba813a; 
    color: #f2f2f2; 
  }
  
 .button1:hover {
    background-color: black;
    color: white;
  }

  .see-all .buttonSee{
    position: relative;
    top: 40px;
    left: 650;
    font-size: 15px;
    background-color: #f2f2f2; 
    color: black; 
    border: 2px solid #ba813a;
}

.see-all .buttonSee:hover{
    background-color: #ba813a; 
    color: #f2f2f2; 
    border: 2px solid #ba813a;
}

.looking-for {
    text-align: center;
    position: relative; 
    top: 80px; 
    color: black;
    font-size: 25px;
    
}

.contact-us .buttonContact{
    position: relative;
    top: 100px;
    left: 629;
    font-size: 15px;
    background-color: #f2f2f2; 
    color: black; 
    border: 2px solid #ba813a;
}

.contact-us .buttonContact:hover{
    background-color: #ba813a; 
    color: #f2f2f2; 
    border: 2px solid #ba813a;
}

.footer {
    color: white;
}